:host {
  display: block;
}

.search-icon-button {
  appearance: none;
  background: transparent !important;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logout-button {
  appearance: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.search-icon-button,
.search-icon-button:hover,
.search-icon-button:active,
.search-icon-button:focus {
  background: transparent !important;
  box-shadow: none;
}
